h1 {
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
}

.timerBox {
	padding-top: 18%;
}

.jumbotron {
	background: linear-gradient(rgba(255,0,0,1), rgba(255,0,0,0));
	/*background: none;*/
}

.fa:hover {
	cursor: pointer;
	color: #5b5b5b;
}

.btn {
	margin-top: 15px;
}

button {
	background: none;
	border: 0;
	outline: 0;
}

html {
	height: 100%;
}

body {
	color: white;
	background: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,1));
}
